@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto my-0 max-w-[1300px] px-4 sm:px-6 lg:px-8 xl:px-6 2xl:px-8 2xl:max-w-[1450px];
  }
}

.active {
  color: #1d4ed8;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}
